.container
    .jumbotron
        h1 Pharmacy
        p Référentiel des médicaments au Maroc

    .row
        .col-md-6
            div(ng-include="'/partials/main/views/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/views/new-courses'")