doctype html
html
    head
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(href="/vendor/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
        link(href="/css/site.css", rel="stylesheet")
        link(href="/vendor/toastr/toastr.css", rel="stylesheet")
        base(href="/")
    body(ng-app="myApp")
        block main-content
        include scripts
